# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [111]:
# Libraries
import pandas as pd

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset. 

Load the dataset from Ironhack's database:
* db: `admissions predict`
* table: `admissions predict`

In [112]:
# your code here
df = pd.read_csv("C:\\Users\\jocar\\OneDrive\\Ambiente de Trabalho\\iron hack\\labs\\lab-advanced-pandas\\your-code\\data\\Admission_Predict.csv")
df

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...,...
380,381,324,110,3,3.5,3.5,9.04,1,0.82
381,382,325,107,3,3.0,3.5,9.11,1,0.84
382,383,330,116,4,5.0,4.5,9.45,1,0.91
383,384,312,103,3,3.5,4.0,8.78,0,0.67
384,385,333,117,4,5.0,4.0,9.66,1,0.95

Remove trailing spaces at the end of the column names if there are any.

In [113]:
# your code here
print(df.columns)
df.rename(columns = {'Chance of Admit ':'Chance of Admit', 'LOR ':'LOR'}, inplace = True)

Index(['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR ', 'CGPA', 'Research', 'Chance of Admit '],
      dtype='object')

Let's evaluate the dataset by looking at the `head` function.

In [114]:
# your code here
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [115]:
# your code here
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 385 entries, 0 to 384
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Serial No.         385 non-null    int64
 1   GRE Score          385 non-null    int64
 2   TOEFL Score        385 non-null    int64
 3   University Rating  385 non-null    int64
 4   SOP                385 non-null    float64
 5   LOR                385 non-null    float64
 6   CGPA               385 non-null    float64
 7   Research           385 non-null    int64
 8   Chance of Admit    385 non-null    float64
dtypes: float64(4), int64(5)
memory usage: 27.2 KB

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [116]:
# your code here
df.set_index("Serial No.")

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65
5,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...
381,324,110,3,3.5,3.5,9.04,1,0.82
382,325,107,3,3.0,3.5,9.11,1,0.84
383,330,116,4,5.0,4.5,9.45,1,0.91
384,312,103,3,3.5,4.0,8.78,0,0.67
385,333,117,4,5.0,4.0,9.66,1,0.95

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [117]:
# your code here
df["GRE Score"].unique()

array([337, 316, 322, 314, 330, 321, 308, 302, 323, 327, 328, 307, 311,
       317, 319, 318, 303, 325, 334, 336, 298, 295, 310, 300, 338, 340,
       331, 320, 299, 304, 313, 332, 326, 329, 339, 312, 324, 309, 315,
       301, 296, 294, 306, 305, 290, 335, 333, 297, 293], dtype=int64)

In [118]:
df["CGPA"].unique()

array([9.65, 8.  , 8.67, 8.21, 9.34, 8.2 , 7.9 , 8.6 , 9.  , 9.1 , 8.3 ,
       8.7 , 8.8 , 8.5 , 8.4 , 9.5 , 9.7 , 9.8 , 7.5 , 7.2 , 7.3 , 8.1 ,
       9.4 , 9.6 , 9.2 , 7.8 , 7.7 , 9.3 , 8.85, 7.4 , 7.6 , 6.8 , 8.92,
       9.02, 8.64, 9.22, 9.16, 9.64, 9.76, 9.45, 9.04, 8.9 , 8.56, 8.72,
       8.22, 7.54, 7.36, 8.02, 9.36, 8.66, 8.42, 8.28, 8.14, 7.92, 7.66,
       8.03, 7.88, 7.84, 8.96, 9.24, 8.88, 8.46, 8.12, 8.25, 8.47, 9.05,
       8.78, 9.18, 9.46, 9.38, 8.48, 8.68, 8.34, 8.45, 8.62, 7.46, 7.28,
       8.84, 9.56, 9.48, 8.36, 9.32, 8.71, 9.35, 8.65, 9.28, 8.77, 8.16,
       9.08, 9.12, 9.15, 9.44, 9.92, 9.11, 8.26, 9.43, 9.06, 8.75, 8.89,
       8.69, 7.86, 9.01, 8.97, 8.33, 8.27, 7.98, 8.04, 9.07, 9.13, 9.23,
       8.87, 8.98, 8.94, 9.53, 8.76, 8.52, 8.54, 9.91, 9.87, 7.65, 7.89,
       9.14, 9.66, 9.78, 9.42, 9.26, 8.23, 8.07, 9.31, 9.17, 9.19, 8.37,
       7.68, 8.15, 8.73, 8.83, 8.57, 9.68, 8.09, 8.79, 8.17, 7.64, 8.01,
       7.95, 8.49, 7.87, 7.97, 8.18, 8.32, 8.55, 8.43, 8.53, 8.74, 8.44,
       9.47, 8.24, 8.13, 7.34, 7.43, 7.25, 8.06, 7.67, 9.54, 9.62, 7.56,
       9.74, 9.82, 7.96])

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

In [119]:
df.set_index(['GRE Score', 'CGPA'], inplace=True)
df.head()

,,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
GRE Score,CGPA,,,,,,,
337,9.65,1,118,4,4.5,4.5,1,0.92
316,8.00,2,104,3,3.0,3.5,1,0.72
322,8.67,3,110,3,3.5,2.5,1,0.80
314,8.21,4,103,2,2.0,3.0,0,0.65
330,9.34,5,115,5,4.5,3.0,1,0.90

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [120]:
# your code here
df.reset_index(inplace=True)
df.head()

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
0,337,9.65,1,118,4,4.5,4.5,1,0.92
1,316,8.00,2,104,3,3.0,3.5,1,0.72
2,322,8.67,3,110,3,3.5,2.5,1,0.80
3,314,8.21,4,103,2,2.0,3.0,0,0.65
4,330,9.34,5,115,5,4.5,3.0,1,0.90

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [121]:
# your code here
df[(df['CGPA']>9) | (df['Research'] == 1)]

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
0,337,9.65,1,118,4,4.5,4.5,1,0.92
1,316,8.00,2,104,3,3.0,3.5,1,0.72
2,322,8.67,3,110,3,3.5,2.5,1,0.80
4,330,9.34,5,115,5,4.5,3.0,1,0.90
5,321,8.20,6,109,3,3.0,4.0,1,0.75
...,...,...,...,...,...,...,...,...,...
379,329,9.23,380,111,4,4.5,4.0,1,0.89
380,324,9.04,381,110,3,3.5,3.5,1,0.82
381,325,9.11,382,107,3,3.0,3.5,1,0.84
382,330,9.45,383,116,4,5.0,4.5,1,0.91
384,333,9.66,385,117,4,5.0,4.0,1,0.95

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [122]:
# your code here
chance = df[(df['CGPA']>9) | (df['SOP'] < 3.5)]
chance.head()

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
0,337,9.65,1,118,4,4.5,4.5,1,0.92
1,316,8.00,2,104,3,3.0,3.5,1,0.72
3,314,8.21,4,103,2,2.0,3.0,0,0.65
4,330,9.34,5,115,5,4.5,3.0,1,0.90
5,321,8.20,6,109,3,3.0,4.0,1,0.75

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [123]:
def standardize(col):
    """
    This function takes a column from a dataframe 
    and returns a standardized column by subtracting the column's mean
    and dividing by the column's standard deviation.
    """
    
    # your code here
    return col - col.mean() / col.std()

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [124]:
# your code here
df['CGPA_std'] = standardize(df['CGPA'])
df['GRE_std'] = standardize(df['GRE Score'])
df['LOR_std'] = standardize(df['LOR'])
df.head()

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std
0,337,9.65,1,118,4,4.5,4.5,1,0.92,-4.621747,309.598899,0.674568
1,316,8.00,2,104,3,3.0,3.5,1,0.72,-6.271747,288.598899,-0.325432
2,322,8.67,3,110,3,3.5,2.5,1,0.80,-5.601747,294.598899,-1.325432
3,314,8.21,4,103,2,2.0,3.0,0,0.65,-6.061747,286.598899,-0.825432
4,330,9.34,5,115,5,4.5,3.0,1,0.90,-4.931747,302.598899,-0.825432

We will generate the decision choice at random using the code below. Please run the cell.

In [125]:
# Libraries
from random import choices

In [126]:
std_columns = ['CGPA_std', 'GRE_std', 'LOR_std']

decision_choice = choices(std_columns, k=df.shape[0])

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [127]:
# your code here
df["deciding_column"] = df.lookup(df.index, decision_choice)
df.head()

C:\Users\jocar\AppData\Local\Temp\ipykernel_2488\1392228684.py:2: FutureWarning: The 'lookup' method is deprecated and will be removed in a future version. You can use DataFrame.melt and DataFrame.loc as a substitute.
  df["deciding_column"] = df.lookup(df.index, decision_choice)

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std,deciding_column
0,337,9.65,1,118,4,4.5,4.5,1,0.92,-4.621747,309.598899,0.674568,0.674568
1,316,8.00,2,104,3,3.0,3.5,1,0.72,-6.271747,288.598899,-0.325432,-0.325432
2,322,8.67,3,110,3,3.5,2.5,1,0.80,-5.601747,294.598899,-1.325432,-5.601747
3,314,8.21,4,103,2,2.0,3.0,0,0.65,-6.061747,286.598899,-0.825432,-0.825432
4,330,9.34,5,115,5,4.5,3.0,1,0.90,-4.931747,302.598899,-0.825432,302.598899

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [128]:
# your code here
df["decision"] = [1 if x > 0.8 else 0 for x in df["deciding_column"]]

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [129]:
# your code here
df[df['decision'] >0]

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std,deciding_column,decision
4,330,9.34,5,115,5,4.5,3.0,1,0.90,-4.931747,302.598899,-0.825432,302.598899,1
5,321,8.20,6,109,3,3.0,4.0,1,0.75,-6.071747,293.598899,0.174568,293.598899,1
10,328,9.10,11,112,4,4.0,4.5,1,0.78,-5.171747,300.598899,0.674568,300.598899,1
12,311,8.20,13,104,3,3.5,2.0,1,0.61,-6.071747,283.598899,-1.825432,283.598899,1
14,317,8.70,15,107,3,4.0,3.0,0,0.66,-5.571747,289.598899,-0.825432,289.598899,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371,302,7.96,372,101,2,2.5,3.5,0,0.46,-6.311747,274.598899,-0.325432,274.598899,1
373,296,7.80,374,97,2,1.5,2.0,0,0.49,-6.471747,268.598899,-1.825432,268.598899,1
374,320,8.44,375,108,3,3.5,4.0,1,0.76,-5.831747,292.598899,0.174568,292.598899,1
378,317,8.76,379,104,2,3.0,3.0,0,0.77,-5.511747,289.598899,-0.825432,289.598899,1
379,329,9.23,380,111,4,4.5,4.0,1,0.89,-5.041747,301.598899,0.174568,301.598899,1

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [130]:
# your code here
df.columns = [col.replace(" ", "_").lower() for col in df.columns]
df.head()

,gre_score,cgpa,serial_no.,toefl_score,university_rating,sop,lor,research,chance_of_admit,cgpa_std,gre_std,lor_std,deciding_column,decision
0,337,9.65,1,118,4,4.5,4.5,1,0.92,-4.621747,309.598899,0.674568,0.674568,0
1,316,8.00,2,104,3,3.0,3.5,1,0.72,-6.271747,288.598899,-0.325432,-0.325432,0
2,322,8.67,3,110,3,3.5,2.5,1,0.80,-5.601747,294.598899,-1.325432,-5.601747,0
3,314,8.21,4,103,2,2.0,3.0,0,0.65,-6.061747,286.598899,-0.825432,-0.825432,0
4,330,9.34,5,115,5,4.5,3.0,1,0.90,-4.931747,302.598899,-0.825432,302.598899,1

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [136]:
# Add 10 points to the GRE scores of students with a university rating of 4 or higher
df.loc[df['university_rating'] >= 4, 'adjusted_gre'] = df['gre_score'] + 10
# Fill the rest of the adjusted_gre column with the original GRE scores for students with a university rating below 4
df.loc[df['university_rating'] < 4, 'adjusted_gre'] = df['gre_score']
# Define the bin labels
bin_labels = ["Low", "Medium", "High", "Very High"]
# Define the bins
bins = pd.cut(df['adjusted_gre'], 4, labels=bin_labels)
# Add the bins to the df
df['acceptance_probability'] = bins

In [137]:
df

,gre_score,cgpa,serial_no.,toefl_score,university_rating,sop,lor,research,chance_of_admit,cgpa_std,gre_std,lor_std,deciding_column,decision,adjusted_gre,acceptance_probability
0,337,9.65,1,118,4,4.5,4.5,1,0.92,-4.621747,309.598899,0.674568,0.674568,0,347.0,Very High
1,316,8.00,2,104,3,3.0,3.5,1,0.72,-6.271747,288.598899,-0.325432,-0.325432,0,316.0,Medium
2,322,8.67,3,110,3,3.5,2.5,1,0.80,-5.601747,294.598899,-1.325432,-5.601747,0,322.0,High
3,314,8.21,4,103,2,2.0,3.0,0,0.65,-6.061747,286.598899,-0.825432,-0.825432,0,314.0,Medium
4,330,9.34,5,115,5,4.5,3.0,1,0.90,-4.931747,302.598899,-0.825432,302.598899,1,340.0,Very High
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,324,9.04,381,110,3,3.5,3.5,1,0.82,-5.231747,296.598899,-0.325432,-0.325432,0,324.0,High
381,325,9.11,382,107,3,3.0,3.5,1,0.84,-5.161747,297.598899,-0.325432,-0.325432,0,325.0,High
382,330,9.45,383,116,4,5.0,4.5,1,0.91,-4.821747,302.598899,0.674568,-4.821747,0,340.0,Very High
383,312,8.78,384,103,3,3.5,4.0,0,0.67,-5.491747,284.598899,0.174568,0.174568,0,312.0,Medium
384,333,9.66,385,117,4,5.0,4.0,1,0.95,-4.611747,305.598899,0.174568,0.174568,0,343.0,Very High